@mixin centerer {
  margin:0 auto;
  text-align:center;
}

$mobile: 'min-width: 320px';
$sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//$tablet: 'min-width: 768px';

@media screen and ($mobile) {
.container {
    width: 100%;
    border:1px solid red;
    max-width:768px;
    font:$sans-serif-font;
    box-sizing:border-box;
    display:flex;
    min-height:100vh;
    flex-direction:column;
}
  
  header {
    @include centerer;
    border:1px solid blue;
    font-size:2em;
  }

  .intro {
    border:1px solid green;
    padding:3em 1em;
    } h3 {
      @include centerer;
      font-size:2em;
    } ol {
      padding-left:5em;
    } li {
      list-style-type:square;
      font-size:1.5em;
    }
  
  .call-to-action {
    border:1px solid blue;
    border-radius:50%;
    width:25%;
    margin:0 auto;
    background-color:blue;
    margin-top:1.5em;
    margin-bottom:2em;
    flex:1;
  } h2 {
    @include centerer;
    font-size:4em;
    color:white;
    font-weight:bolder;
  }
  
  .footer {
    margin-top:4.4em;
    padding-top:1.5em;
    border:1px solid black;
  } .social {
    border:1px solid orange;
    @include centerer; 
  } p {
    @include centerer;
    padding-top:1em;
    padding-bottom:1em;
  }
}